@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
.App {
  text-align: center;
  background-color: rgb(224, 22, 7);
  font-family: 'Titillium Web', sans-serif;
  height: 200px;
}

.header {
  margin-top: 0;
  letter-spacing: .5em;
  font-weight: 700;
  height: 4em;
}

.main {
  background-color: rgb(180, 179, 185);
  height: 100vh;
}