.pokemon-card-container{
  width: 910px;
  margin: 20px auto;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
}

.type-label {
  width: 280px;
  margin: 5px 10px;
  border: 1px solid black;
  transition: 0.5s;
  cursor: pointer;
}

.selected {
  height: 300px;
  overflow: scroll;
}